.wrapper_login {
  position: relative;
  width: 420px;
  height: 500px;
  background: #02024b;
  border-radius: 20px; 
  color: #fff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6), 0 4px 10px rgba(0, 0, 0, 0.3); 
  
}

.wrapper_login:hover {
  transform: perspective(1500px) rotateX(0deg) rotateY(0deg) scale(1.05); 
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.4); 
  background-color: #03034c; 
}

.wrapper_login .form-box {
  width: 100%;
  padding: 40px;
  background: linear-gradient(135deg, rgba(36, 37, 90, 0.9), rgba(9, 19, 64, 0.9)); 
  border-radius: 20px; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease; 
}

form h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4); 
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  background: rgb(126, 125, 125);
  border-radius: 50px; 
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3); 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease; 
}

.input-box input:focus {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); 
  border-color: #ffb400; 
  transform: scale(1.05); 
}

input:focus ~ .icon {
  color: #ffb400; 
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #ffb400;
}

form button {
  width: 100%;
  height: 45px;
  background: linear-gradient(135deg, #ff5f6d, #ffc3a0); 
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); 
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

form button:hover {
  transform: translateY(-4px) scale(1.05); 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}

form .register-link a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

form .register-link a:hover {
  color: #ffb400; 
}
